<h1>Lesson 5. Model selection: US Salary Prediction</h1>

<img src=https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/White_House_lawn_%281%29.tif/lossy-page1-2433px-White_House_lawn_%281%29.tif.jpg style="height:300px;">
  
<p>In this exercise you will use the US Adult Census data relating income to social factors such as Age, Education, race etc...</p>

<p>The goal here is to train a binary classifier on the training dataset to predict the column income_bracket which has two possible values ">50K" and "<=50K" and evaluate the accuracy of the classifier with the test dataset.</p>

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, metrics
from sklearn.model_selection import train_test_split


train=pd.read_csv('census-training.csv')
print(train.info())
train.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 10 columns):
Age              48842 non-null int64
EducationNum     48842 non-null int64
MaritalStatus    48842 non-null object
Occupation       48842 non-null object
Relationship     48842 non-null object
Race             48842 non-null object
Gender           48842 non-null object
Hours/Week       48842 non-null int64
Country          48842 non-null object
Income           48842 non-null object
dtypes: int64(3), object(7)
memory usage: 3.7+ MB
None

,Age,EducationNum,MaritalStatus,Occupation,Relationship,Race,Gender,Hours/Week,Country,Income
0,25,7,Never-married,Machine-op-inspct,Own-child,Black,Male,40,United-States,<=50K.
1,38,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,50,United-States,<=50K.
2,28,12,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,>50K.
3,44,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,40,United-States,>50K.
4,18,10,Never-married,?,Own-child,White,Female,30,United-States,<=50K.
5,34,6,Never-married,Other-service,Not-in-family,White,Male,30,United-States,<=50K.
6,29,9,Never-married,?,Unmarried,Black,Male,40,United-States,<=50K.
7,63,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,32,United-States,>50K.
8,24,10,Never-married,Other-service,Unmarried,White,Female,40,United-States,<=50K.
9,55,4,Married-civ-spouse,Craft-repair,Husband,White,Male,10,United-States,<=50K.
10,65,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K.
11,36,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,40,United-States,<=50K.
12,26,9,Never-married,Adm-clerical,Not-in-family,White,Female,39,United-States,<=50K.
13,58,9,Married-civ-spouse,?,Husband,White,Male,35,United-States,<=50K.
14,48,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,48,United-States,>50K.
15,43,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States,>50K.
16,20,10,Never-married,Other-service,Own-child,White,Male,25,United-States,<=50K.
17,43,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,30,United-States,<=50K.
18,37,9,Widowed,Machine-op-inspct,Unmarried,White,Female,20,United-States,<=50K.
19,40,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,45,?,>50K.

<h3>Q.1. Write a command that will calculate the number of unique values for each feature in the training data.</h3>

In [2]:
#TODO

<h3>Q.2. There is a special character '?' inserted in the data in place of null values.  Write a command that will remove it and replace with NaN.</h3>

In [3]:
# Command (s): remove the '?' special character and replace with NaN
#TODO

train.isnull().sum() #checking the dataset for NaN values .... NaN values in two columns

Age              0
EducationNum     0
MaritalStatus    0
Occupation       0
Relationship     0
Race             0
Gender           0
Hours/Week       0
Country          0
Income           0
dtype: int64

<h3>Q.3. Replace all missing values in Occupation and Country by their mode (most occuring values). </h3>

In [4]:
#Command(s):
train.mode() # finding mode to compute the most occuring item in every column
#replace missing values with their mode
#TODO
train.isnull().sum() #checking the data for NaN values .... should all show 0 now

Age              0
EducationNum     0
MaritalStatus    0
Occupation       0
Relationship     0
Race             0
Gender           0
Hours/Week       0
Country          0
Income           0
dtype: int64

<h3>Q.4. Write functions to replace Gender and Income attributes to "0" and "1". </h3>

In [5]:
# converting Gender to "0" and "1" 
def gender_to_numeric(x):
    #TODO return 1 f gender is Male, 0 otherwise
    
train['Gender'] = #TODO apply the function to this column

# converting Inccome to "0" and "1" 
def income_to_numeric(x):
    #TODO return 1 f income is greater than 50k, 0 otherwise
    
train['Income'] = #TODO apply the function to this column

train.head(10)

IndentationError: expected an indented block (<ipython-input-5-d213391a3c63>, line 5)

<h3>Q.5. Use the label encoder API to encode all object-type in the data. </h3>

In [ ]:
# Command(s) 
obj = train.select_dtypes(include=['object']) #all features that are 'object' datatypes
le = preprocessing.LabelEncoder()
for i in range(len(obj.columns)):
    train[obj.columns[i]] = #TODO  #Encode input data
    
train.head(10) #Inspect the data, all features should be numeric now

<h3>Q.6. Split the data into 70% training and 30% test </h3>

In [ ]:
#TODO

<h3>Q.7. Train the logistic regression model on the train dataset and evaluate its performance on the test dataset.</p>

In [ ]:
#Initialize classifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report, roc_curve, roc_auc_score


log_rgr = #TODO Initialize logistic regression classifier
# TODO: fit X_train and y_train

#predict on the test set
y_pred = #TODO 
lr_acc = #TODO: Compute the accuracy score
# calculate the fpr and tpr for all thresholds of the classification
probs = log_rgr.predict_proba(X_test)
preds = probs[:,1]
fpr, tpr, threshold = metrics.roc_curve(y_test, preds)
roc_auc = #TODO
print("Accuracy: {}".format(lr_acc))
print("AUC: {}".format(roc_auc))

# Plot the ROC curve
import matplotlib.pyplot as plt
plt.title('Receiver Operating Characteristic')
plt.plot(fpr, tpr, 'b', label = 'AUC = %0.2f' % roc_auc)
plt.legend(loc = 'lower right')
plt.plot([0, 1], [0, 1],'r--')
plt.xlim([0, 1])
plt.ylim([0, 1])
plt.ylabel('True Positive Rate')
plt.xlabel('False Positive Rate')
plt.show()

<h3>Q.8. Train the KNN classifier (with k=15) on the train dataset and evaluate its performance on the test dataset. Compare your results with the one above</p>

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

#Initialize the classifier
knn = #TODO Initialize KNN classifier with k=15
# TODO: fit X_train and y_train

y_pred = #TODO 
knn_acc = #TODO: Compute the accuracy score
# calculate the fpr and tpr for all thresholds of the classification
probs = knn.predict_proba(X_test)
preds = probs[:,1]
fpr, tpr, threshold = metrics.roc_curve(y_test, preds)
roc_auc = #TODO
print("Accuracy: {}".format(knn_acc))
print("AUC: {}".format(roc_auc))

# Plot the ROC curve
import matplotlib.pyplot as plt
plt.title('Receiver Operating Characteristic')
plt.plot(fpr, tpr, 'b', label = 'AUC = %0.2f' % roc_auc)
plt.legend(loc = 'lower right')
plt.plot([0, 1], [0, 1],'r--')
plt.xlim([0, 1])
plt.ylim([0, 1])
plt.ylabel('True Positive Rate')
plt.xlabel('False Positive Rate')
plt.show()

#Compare results
#TODO

<h3>Q.9. Perform recursive feature elimination (5 features) on the dataset using the logistic regression classifier. Any difference in the results? Explain.</h3>

In [ ]:
from sklearn.feature_selection import RFE

rfe =  #TODO
# TODO: fit X_train and y_train

y_pred = # TODO
lr_acc = #TODO: Compute the accuracy score
# calculate the fpr and tpr for all thresholds of the classification
probs = rfe.predict_proba(X_test)
preds = probs[:,1]
fpr, tpr, threshold = metrics.roc_curve(y_test, preds)
roc_auc =#TODO
print("Accuracy: {}".format(lr_acc))
print("AUC: {}".format(roc_auc))